* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mineone {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2 , auto);
    grid-template-rows: repeat(2 , auto);
    margin-top: 2rem;
    gap: 20px;
}
.minerigth h1 , .minerigth p {
    text-align: end;
}
.minerigth p {
    font-size: 13px;
}
.minerigth p  {
    margin-top: 1rem;

}
.minelift {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
}

.onefathy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.onefathy  p {
    font-size: 12px;
    color: #948d8d;
}
.onefathy  h1 {
    font-size: 18px;
    font-weight: bold;
}
.onefathy  p , .onefathy  h1 {
    text-align: end;
    margin-right: 1rem;
}

@media (max-width: 767px){
.mineone  , .minelift{
    display: block;
}
.mineone  {
    display: flex;
    flex-direction:column-reverse;
}
}
.conactone {
    height: 55vh;
}
.contactimg  {
    width: 100%;
    height: 50vh;
    margin-top: 3rem;
    background: url("../imgs4/5.png") center center / cover no-repeat;
    object-fit: cover;
    opacity: 0.9;
    margin-top: 5rem;
    cursor: pointer;
}
.vodeo {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.vodeo.active {
  opacity: 1;
  visibility: visible;
}

.vodeo .vodeoone {
   width: 80%;
   height: 70vh;
   border-radius: 10px;
}

.contactimg  .fontassom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.contactimg  .fontassom  {
    flex-direction: column;
}
.contactimg  .fontassom  .a {
     border: 2px solid #fff;
     padding: 30px;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     width: 100px;
     height: 100px;
       display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.contactimg  .fontassom  p  , .contactimg  .fontassom  h4{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}